<div class="contents w-100">
  <div class="contents__boxes">

  <div class="box w-75 ">
    <div class="box__header">
      <div class="username">post-username</div>
      <div class="tags">
        <p class="tag">上司</p>
        <p class="tag">飲み会</p>
        <p class="tag">断る</p>
      </div>
      <div class="detail-btn btn btn-secondary">詳しくみる</div>
    </div>

    <div class="box__body">
      <div class="body__title">【title】</div>
      <div class="body__text">前回に続いて上司の飲み会を断る時のメール</div>
    </div>

    <div class="box__footer">
      <div class="footer__comments">
        <div class="comments__text">コメント数</div>
        <div class="comments__number">１０</div>
      </div>

      <div class="footer__time">
        <div class="time__text ">投稿日時</div>
        <div class="time__post ">2020/02/25 10時23分</div>
      </div>
    </div>
  </div>

  <div class="box w-75 ">
    <div class="box__header">
      <div class="username">post-username</div>
      <div class="tags">
        <p class="tag">上司</p>
        <p class="tag">飲み会</p>
        <p class="tag">断る</p>
      </div>
      <div class="detail-btn btn btn-secondary">詳しくみる</div>
    </div>

    <div class="box__body">
      <div class="body__title">【title】</div>
      <div class="body__text">前回に続いて上司の飲み会を断る時のメール</div>
    </div>

    <div class="box__footer">
      <div class="footer__comments">
        <div class="comments__text">コメント数</div>
        <div class="comments__number">１０</div>
      </div>

      <div class="footer__time">
        <div class="time__text ">投稿日時</div>
        <div class="time__post ">2020/02/25 10時23分</div>
      </div>
    </div>
  </div>

  
  </div>
</div>